body {
  font-family: "Kumbh Sans", sans-serif;
  font-family: "Roboto Slab", serif;
  font-family: "Space Mono", monospace;
  font-style: normal;
  font-weight: 700;
  color: #d7e0ff;
  background: #1e213f;
  font-size: 17px;
  line-height: 17px;
}
@media screen and (max-width: 580px) {
  body {
    overflow: hidden;
  }
}

.container {
  max-width: 25em;
  width: 100%;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1280px) {
  .container {
    overflow: hidden;
  }
}
@media screen and (max-width: 580px) {
  .container {
    margin-top: -1em;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}
@media screen and (max-width: 380px) {
  .container {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

.main-title {
  font-size: 2em;
  line-height: 2.5em;
  text-align: center;
  color: #d7e0ff;
  margin: 0;
}

.main-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 23.3em;
  padding: 0.5em 0.4em;
  background: #161932;
  border-radius: 1.9em;
  white-space: nowrap;
  margin-bottom: 2.3em;
}
@media screen and (max-width: 280px) {
  .main-buttons {
    width: 20em;
    margin-left: -2.3em;
  }
}

.main-button {
  width: 120px;
  height: 48px;
  margin-right: 10px;
  font-weight: 700;
  font-size: 0.8em;
  line-height: 1.2em;
  text-align: center;
  color: #d7e0ff;
  mix-blend-mode: normal;
  opacity: 0.4;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.main-button:last-child {
  margin-right: 0px;
}

.main-button.active {
  color: #1e213f;
  background: #70f3f8;
  border-radius: 1.6em;
  opacity: 1;
  -webkit-transition: 0.3;
  transition: 0.3;
}

.main-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 520px) {
  .main-time {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

.main-time-circle {
  position: absolute;
  min-width: 27.7em;
  height: 27.7em;
  border-radius: 50%;
  margin: 0 auto;
  background: linear-gradient(315deg, #2e325a 0%, #0e112a 100%);
  -webkit-box-shadow: -50px -50px 100px #272c5a, 50px 50px 100px #121530;
          box-shadow: -50px -50px 100px #272c5a, 50px 50px 100px #121530;
  border-width: 1.5em;
  border-style: solid;
  border-color: rgb(36, 43, 85);
}

.main-time-progress {
  position: absolute;
  top: 0.8rem;
  left: 0.8rem;
  width: 23em;
  height: 23em;
  border-radius: 50%;
  border: 0.6em solid #70f3f8;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.timer {
  position: relative;
  top: 0.5em;
  z-index: 1;
  font-size: 6.25em;
  text-align: center;
  color: #d7e0ff;
  margin-bottom: 3rem;
  padding-top: 1em;
  border-radius: 50%;
}

.pause-btn {
  position: relative;
  top: 9em;
  display: block;
  margin: 0 auto;
  font-weight: 700;
  font-size: 1em;
  line-height: 1.3em;
  letter-spacing: 0.9em;
  text-transform: uppercase;
  color: #d7e0ff;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.pause-btn:hover {
  color: #70f3f8;
  -webkit-transition: 0.3;
  transition: 0.3;
}

#progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: transparent;
  -webkit-box-shadow: inset 0 0 0 2px #ccc;
          box-shadow: inset 0 0 0 2px #ccc;
}

#progress::-webkit-progress-bar {
  background-color: transparent;
}

#progress::-webkit-progress-value {
  background-color: #007bff;
}

.settings__button-main {
  position: relative;
  top: 28em;
  display: block;
  width: 1.6em;
  height: 1.7em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.9em;
  background: transparent;
  border-radius: 1.6em;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 580px) {
  .settings__button-main {
    top: 22em;
  }
}
@media screen and (max-width: 414px) {
  .settings__button-main {
    top: 17em;
  }
}
@media screen and (max-width: 380px) {
  .settings__button-main {
    top: 12em;
  }
}

.settings__button-main svg path {
  fill: #bdcaf9;
}

.settings__button-main svg path:hover {
  fill: #ffffff;
  opacity: 1;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.settings__button-main svg path:focus {
  fill: #ffffff;
  opacity: 1;
}

.settings__section {
  display: none;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: -8em;
  z-index: 10;
  width: 540px;
  max-width: 40em;
  min-height: 29em;
  height: 490px;
  padding: 2.5em;
  overflow: auto;
  background: #ffffff;
  color: #161932;
  border-radius: 0.9em;
  overflow: hidden;
}
@media screen and (max-width: 580px) {
  .settings__section {
    top: -15em;
    width: 20em;
    height: 36em;
  }
}
@media screen and (max-width: 380px) {
  .settings__section {
    top: -17em;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}
@media screen and (max-width: 320px) {
  .settings__section {
    top: -20em;
    left: -0.6em;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}
@media screen and (max-width: 280px) {
  .settings__section {
    left: -1.6em;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 12, 28, 0.5);
  z-index: 1;
  display: none;
}

.settings__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #e3e1e1;
  margin-bottom: 1.5em;
}

.settings__title {
  font-style: normal;
  font-weight: 700;
  font-size: 1.75em;
  line-height: 2.1em;
  color: #161932;
}
@media screen and (max-width: 580px) {
  .settings__title {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 1.2em;
  }
}

.settings__button-close {
  display: block;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: auto;
}

.settings__button-close svg {
  opacity: 0.5;
}

.settings__time {
  border-bottom: 1px solid #e3e1e1;
  padding-bottom: 1.5em;
}

.settings__time-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 580px) {
  .settings__time-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.settings__time-title {
  font-size: 0.8em;
  line-height: 1em;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  margin-bottom: 1.3em;
}

.settings__time-select {
  margin-right: 20px;
}
@media screen and (max-width: 580px) {
  .settings__time-select {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1em 2em 2em 2em 7em;
    grid-template-columns: 1em 2em 7em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2em;
    margin-top: 0.5em;
    margin-right: 0;
  }
}

.settings__time-select label {
  position: relative;
  bottom: -3em;
  font-size: 12px;
  line-height: 15px;
  color: #1e213f;
  mix-blend-mode: normal;
  opacity: 0.4;
}
@media screen and (max-width: 580px) {
  .settings__time-select label {
    white-space: nowrap;
    bottom: 0;
  }
}

.settings__time-input {
  background: #eff1fa;
  border-radius: 10px;
  max-width: 12em;
  min-width: 10em;
  width: 140px;
  border: none;
  margin-top: 8px;
  padding: 1em;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 580px) {
  .settings__time-input {
    margin-top: 0;
  }
}

input[type=number] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.settings__time-input-btn-up,
.settings__time-input-btn {
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
}

.settings__time-input-buttons {
  position: relative;
  left: 6em;
  top: 2.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
@media screen and (max-width: 580px) {
  .settings__time-input-buttons {
    left: 10em;
    top: -0.2em;
  }
}

.settings__time-input-btn-up {
  width: 14px;
  height: 10px;
  background-image: url(img/arrow-up.svg);
  margin: 9px;
}

.settings__time-input-btn {
  width: 14px;
  height: 10px;
  background-image: url(img/arrow-down.svg);
  background-color: transparent;
  background-repeat: no-repeat;
}
.settings__time-input button.plus:after {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
}

.settings__time-input input[type=number] {
  font-family: sans-serif;
  max-width: 5rem;
  padding: 0.5rem;
  border: none;
  border-width: 0 2px;
  font-size: 2rem;
  height: 3rem;
  font-weight: bold;
  text-align: center;
  color: #9be3df;
}

.settings__fonts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.2em 0;
}
@media screen and (max-width: 580px) {
  .settings__fonts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.settings__fonts-title {
  font-size: 0.8em;
  line-height: 1em;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  text-transform: uppercase;
}
@media screen and (max-width: 580px) {
  .settings__fonts-title {
    margin-bottom: 1.1em;
  }
}

.settings__fonts-font {
  width: 2.7em;
  height: 2.7em;
  margin-right: 0.6em;
  border-radius: 50%;
  border: none;
  background: #eff1fa;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9em;
  line-height: 1.2em;
  color: #1e213f;
  mix-blend-mode: normal;
  opacity: 0.73;
  cursor: pointer;
}
.settings__fonts-font:last-child {
  margin-right: 0;
}
.settings__fonts-font:focus {
  background: #161932;
  color: #ffffff;
  opacity: 1;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

.settings__fonts-font.selected {
  background: #161932;
  color: #ffffff;
  opacity: 1;
}

.settings__colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.2em 0;
}
@media screen and (max-width: 580px) {
  .settings__colors {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.settings__colors-title {
  font-size: 0.8em;
  line-height: 1em;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}
@media screen and (max-width: 580px) {
  .settings__colors-title {
    margin-bottom: 1.1em;
  }
}

.settings__colors-color {
  width: 2.5em;
  height: 2.5em;
  margin-right: 0.6em;
  border-radius: 50%;
  border: none;
  background: #eff1fa;
  cursor: pointer;
}
.settings__colors-color:last-child {
  margin-right: 0;
}
.settings__colors-color:focus {
  content: "";
  background-image: url(/mg/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
}
.settings__colors-color:active {
  content: "";
  background-image: url(img/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
}

.settings__colors-color.selected {
  background-image: url(img/check.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.settings__button-apply {
  display: none;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: -10em;
  z-index: 11;
  background: #f87070;
  border-radius: 26.5px;
  mix-blend-mode: normal;
  border: none;
  font-size: 1em;
  line-height: 1.2em;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  padding: 1.1em 0;
  width: 8.7em;
}
.settings__button-apply:hover {
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
  background: #f58d8d;
}
@media screen and (max-width: 580px) {
  .settings__button-apply {
    top: -17em;
  }
}
@media screen and (max-width: 380px) {
  .settings__button-apply {
    top: -21em;
  }
}
@media screen and (max-width: 320px) {
  .settings__button-apply {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    top: -27em;
  }
}

.kumbhsans {
  font-family: "Kumbh Sans";
}

.roboto {
  font-family: "Roboto";
}

.monospace {
  font-family: "monospace";
}

.red {
  background: #f87070;
}

.blue {
  background: #70f3f8;
}

.purple {
  background: #d881f8;
}